[Desktop Entry]
Name=League of Legends
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=Game;StrategyGame;
Exec=league_of_legends.sh
Comment=Join the League, become a legend.
Icon=com.riotgames.League_of_Legends
